.progress-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.w-100 {
  width: 100%;
}

.bday-item {
  display: flex;
  gap: 10px;
}

.bday-item img {
  border-radius: 100px;
  object-fit:cover;
}

.bday-item h3 {
  display: flex;
}

.bday-item small {
  margin-left: auto;
  width: min-content;
}

.dates {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .bday-item img {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  .bday-item {
    gap: 20px;
  }
  .bday-item img {
    width: 100px;
    height: 100px;
  }
  .bday-item small {
    width: auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .bday-item small {
    font-size: 0.6em;
  }
}